
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" /> 
<title>ClubsIIITM</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="/css/styles.css">


</head>

<body id="body-top">

     

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger"  href="#page-top" >Clubs<strong style="color: #9CC3D5;">IIITM</strong></a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-bars"></i>
              </button> 

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#cultural" style="color:white;">CULTURALS</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#technical" style="color:white;">TECHNICALS</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" style="color:white;">ABOUT</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact" style="color:white;">CONTACT</a>
            </li>
            </li>
            
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/login" style="color:white;">Login</a>
            </li>

        </ul>
    </div>
        </div>
    </nav>
    



    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center" id="page-top">

        
        <div class="container fixed-top">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Please signin into CLUBSIITI
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        


        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src=" https://i.imgur.com/vWkvi0j.png" alt="">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0" style="font-family: 'Kaushan Script', cursive;">IIITM GWALIOR</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="pre-wrap masthead-subheading font-weight-light mb-0"></p>
        </div>




    </header>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="masthead-heading mb-0 text-center" style="font-family: 'Kaushan Script', cursive;">Recent Events:</h1>
                </div>
                <div class="col">
                    <div class="row h4">
                        <div class="col d-md-block">
                            <a href="/clubs/cinephiles#events">Urja</a>
                        </div>
                        <div class="col d-none d-md-block">
                            <a href="/clubs/literary#events">Aurora
</a>
                        </div>
                        <div class="col d-none d-md-block">
                            <a href="/clubs/cinephiles#events">Techfest</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="cultural">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-family: 'Kaushan Script', cursive;">Cultural Clubs</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row">

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/literary">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/jzKLXM3.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Literary Club</h2>

                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/cinephiles">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/Rc5v1SE.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Cinephiles</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/kalakriti">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/RjV9oEr.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Kalakriti</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/dance">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/mFwSMVH.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Dance</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/dramatics">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/RGu91VS.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Dramatics Club</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/music">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/4gcTilp.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Music Club</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/mystic_hues">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/tXK9eh7.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Mystic Hues</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/quiz">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/KVy71BI.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Quiz Club</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/debsoc">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/qX41GbK.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Debsoc</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/avana">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/CCxLMDF.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Avana</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/srijanClub">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/1zZYfKJ.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Srijan</h2>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </section>



    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="technical">

        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-family: 'Kaushan Script', cursive;">Technical Clubs</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row">

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/progClub">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/sVcLAw8.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;" style="font-family: 'Ubuntu', sans-serif;">P Club</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/robotics">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/QzzdYHn.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Robotics Club</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/concreate">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/N0cif4N.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Concreate Club</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/cae">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/Y9l0rjo.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">CAE Club</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/astronomy">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/Swqvdb4.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Astronomy Club</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/electronics">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/clLpjOj.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Electronics Club</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/aeromodelling">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/2V6vv6A.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">Aeromodelling Club</h2>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="/clubs/dsc">
                        <div class="portfolio-item mx-auto">
                            <img class="img-fluid" src="https://i.imgur.com/00cdJl1.png" alt="">
                            <h2 class="text-center" style="font-family: 'Ubuntu', sans-serif;">DSC</h2>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>



    


    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading d-inline-block text-white" style="font-family: 'Kaushan Script', cursive;">ABOUT</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="pre-wrap lead" style="font-family: 'Ubuntu', sans-serif;">This is a website which will ease the recruitment process for the clubs and moreover it will help them manage their activities and also it will help club heads to modify the club database of their respective clubs.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="pre-wrap lead" style="font-family: 'Ubuntu', sans-serif;">This website will also help outsiders to know about clubs of IITI so that they can decide which club is better for them according to their interests so that they can apply for it. </p>
                </div>
            </div>
        </div>
    </section>
    <!-- contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary d-inline-block mb-0" style="font-family: 'Kaushan Script', cursive;">CONTACT</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Content-->
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                        <div class="text-muted">Contact Number</div>
                        <div class="lead font-weight-bold">(0755) 99119 28728</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-contact mb-3"><i class="fas fa-globe"></i></div>
                        <div class="text-muted">Website</div><a class="lead font-weight-bold" href="">Visit Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">LOCATION</h4>
                    <p class="pre-wrap lead mb-0">Khandwa Rd, Simrol, MP 453552
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">IITI WEBSITE</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/IITIOfficial"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.iiti.ac.in/"><i class="fab fa-fw fa-google"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/pages/category/Government-Organization/IIT-Indore-108781240868622/"><i class="fab fa-fw fa-facebook-f"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="mb-4">ABOUT IITI</h4>
                    <p class="pre-wrap lead mb-0">IITI, located in Madhya Pradesh, is an institute of national importance established by the government of India in 2009.</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © clubsiiti2021</small></div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#body-top"><i class="fa fa-chevron-up"></i></a></div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap-notify.min.js"></script>
    <script src="/js/notify.js"></script>

     
</body>

</html>